@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Michroma&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,700&family=Roboto:wght@300;400&family=Poppins:wght@300;400;500&display=swap&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap&family=Outfit:wght@100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.playfair-regular {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-italic {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
}

.playfair-medium {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-style: normal;
}

.playfair-medium-italic {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-style: italic;
}

.playfair-semibold {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-style: normal;
}

.playfair-semibold-italic {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-style: italic;
}

.playfair-bold {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: normal;
}

.playfair-bold-italic {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}

.playfair-black {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-style: normal;
}

.playfair-black-italic {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-style: italic;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.border-box-shadow{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  color:blue;
}


.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.outfit-thin {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.outfit-extra-light {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.outfit-light {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-medium {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.outfit-semibold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.outfit-extra-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.outfit-black {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.joti-one {
  font-family: 'Joti One', cursive;
}



/* Back Drop Shadow
H
.main-container {
  position: relative;
}

.content-container {
  transition: margin-left 0.3s ease;
}

.sidebar-open .content-container {
  margin-left: 250px; 
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 99; 
}
*/

/* styles.css */
.glassy-background {
  background-color: rgba(0, 0, 0, 0.5);
}


.dropdown-content {
  max-height: 60vh; /* Adjust this value as needed */
  overflow-y: auto;
}

@media (max-width: 1024px) { /* Media query for mobile devices */
  .navbar-mobile-dropdown {
    max-height: 80vh;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: black;
    z-index: 10;
  }
}

/* src/components/TestHero.css */
.wrap {
  display: flex;
 

}

.box1, .box2 {
  height: 400px;
  position: relative; /* Ensure content is positioned relative to each box */
  overflow: hidden; /* Prevent content overflow outside clipped area */
}

.box {
  flex: 1;
  width: 50%; /* Ensure each box takes up 50% of the width */
  padding: 10px;
}

.box1 {
  clip-path: polygon(0 0, 110% 0, calc(100% - 1rem) 100%, 0% 100%);
  background: rgb(42, 10, 184);
}

.box2 {
  margin-left: -20%; /* Adjust to align with the extended top-right corner of box1 */
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  background-image: url('https://burst.shopifycdn.com/photos/students-working-and-studying-flatlay.jpg?width=925&exif=0&iptc=0');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
